.modal-lists{
    width: 100vw;
    height: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 50px;
    overflow-y: scroll;
    z-index: 10;
}

.modal-lists__wrapper{
    width: 100%;
    /* height: max-content; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* background-color: #fff; */
    padding: 35px;
    overflow-y: scroll;
}
.modal-list-item{
    width: 100%;
    height: max-content;
    padding: 25px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
}
.modal-list-item__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.close-modal{
    background: transparent;
    height: max-content;
    width: max-content;
    border: none;
    outline: none;
}
.modal-list-item__block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 25px;
    width: 100%;
    height: max-content;
    margin-bottom: 25px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
.modal-list-item__block:last-child{
    margin: 0;
}
.flex-wrapper{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 15px;
    align-items: center;
}
.flex-wrapper p{
    font-size: 14px;
    color: #5F5F5F;
}
.modal-list-item__teacher{
    text-align: right;
    font-size: 18px;
}
.day-name{
    font-size: 18px;
    margin-bottom: 15px;
}
.hidden-elem{
    display: none;
}

.rating-header{
    width: 100%;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rating-body{
    background-color: #fff;
    width: 100%;
    height: max-content;
    padding: 25px;
}

.rating-body__wrapper{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: stretch;
}
.rating-table{
    border-radius: 5px;
    width: 100%;
    background-color: #fafafa;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
/* .rating-table tr:first-child{
    border-bottom: 1px solid black;
} */
.rating-table td{
    padding: 15px;
}
.default-rating-wrap{
    width: 100%;
}
.default-rating-wrap h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* RATING BARS BLOCK */
.rating-body__bars{
    margin: 0 auto;
    margin-top: 70px;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #7482FF;
}
.rating-bar-wrapper{
    width: 200px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}
.rating-bar-wrapper svg{
    margin-bottom: 7px;
    width: 30px;
    height: 30px;
}
.rating-bar__title{
    font-size: 16px;
    margin-bottom: 20px;
}
.rating-bar__bar{
    width: 50px;
    border-radius: 10px;
    background-color: aqua;
}
#top-1-user{
    height: 120px;
    background-color: #D7DDF9;
}
#top-2-user{
    height: 160px;
    background-color: #D8DB1D;
}
#top-3-user{
    height: 80px;
    background-color: #C08E30;
}

/* TEACHERS */
.modal-teacher-name{
    margin-bottom: 10px;
}
.modal-teacher-lesson{
    font-weight: 500;
}
.modal-list-item-teacher{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}
.modal-list-item-teacher:last-child{
    margin: 0;
}