*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: .3s;
}
#app{
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
    position: relative;
}
.app-header{
    width: 100%;
    height: 110px;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    text-align: right;
}
.app-header__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app-header .header-title{
    font-size: 20px;
    font-size: 500;
}
.app-header .header-subtitle{
    font-size: 16px;
    font-weight: 500;
}
.main-page-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.main-menu{
    width: max-content;
    padding: 15px;
    height: max-content;
    background-color: #fff;
    padding: 15px;
}
.main-menu ul{
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    list-style-type: none;
}
.main-menu ul li{
    width: 230px;
    height: max-content;
    padding: 10px;
    background-color: #fafafa;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: 20px;
}
.main-menu ul li:last-child{
    margin: 0;
}
.main-menu ul li a{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
}
svg{
    width: 25px;
    /* fill: #00; */
}
/* svg path{
    stroke: #000;
} */
.main-content{
    padding: 20px 20px 20px 0;
    width: 100%;
    height: 100%;
}
.block-content{
    width: 100%;
    height: 360px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-block-text{
    font-size: 30px;
    padding: 5px;
    font-weight: 500;
}
.main-images {
    height: 320px;
    max-width: 600px;
    overflow-x: scroll;
    white-space: nowrap;
}
.block-content{
    margin-bottom: 20px;
}
/* .hotiz-menu{
    padding: 60px 20px 0 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}
.horiz-menu__btn{
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
} */
.main-action-button{
    background-color: #6D6DFF;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px 20px;
    color: #fff;
    font-size: 20px;
}
.to-index-btn{
    width: 125px;
    height: 40px;
    background: transparent;
    border: 1px solid #7C7F7E;
    border-radius: 5px;
}
.to-index-btn a{
    text-decoration: none;
    color: #7C7F7E;
    font-size: 15px;
}



/* ------------------ FOOOOOOTER ------------------ */
.main-footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-gallery-btn{
    /* position: absolute; */
    background-color: #6D6DFF;
    width: 70px;
    height: 200px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right-footer-btn{
    border-radius: 8px 0 0 8px;
}
#left-footer-btn{
    border-radius: 0 8px 8px 0;
}
#left-footer-btn > img{
    transform: rotateZ(60deg);
}
.footer-gallery-screen{
    max-height: 100%;
    width: 780px;
    height: 320px;
    overflow: hidden;
    white-space: nowrap;
}
#inner-screen-gallery, .inner-main-image-section{
    position: relative;
    left: 0;
    position: relative;
    transition: .3s;
}
.pages-of-gallery{
    display: inline-block;
    padding: 10px;
    width: 780px;
    height: 280px;
}
.pages-of-gallery > img{
    border-radius: 8px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.main-pages-of-gallery{
    display: inline-block;
    padding: 10px;
    width: 600px;
    height: 300px;
}
.main-pages-of-gallery > img{
    border-radius: 8px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

/* ZACHETKA KEYBOARD */
.input-wrapper{
    width: max-content;
    height: max-content;
    position: relative;
}
.numbers-keyboard{
    /* display: grid; */
    display: none;
    grid-template-columns: repeat(3, max-content);
    position: absolute;
    top: 60px;
    background-color: #fafafa;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
.numbers-keyboard button{
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: transparent;
    border: none;
}
.visible-keypad{
    display: grid;
}
#doc-id{
    z-index: 1;
}


/* IFRAME STYLES */

.map-frame{
    width: 100%;
    height: 50vh;
    border-radius: 8px;
}
/* ---------------------------- NEWSPAPER ----------------------------  */
.news-wings{
    font-size: 40px;
    background-color: #ffffff;
    width: 580px;
    height: 100px;
    text-align: center;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content-news{
    width: 910px;
    height: 1200px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.current-paper{
    width: 900px;
}
.current-news-discript{
    padding-left: 50px;
    padding-top: 20px;
}
.current-news-discript > h1{
    font-size: 40px
}
.current-news-discript > p{
    font-size: 30px
}

.current-news-content{
    width: 850px;
    height: 1000px;
    border-radius: 5px;
    background-image: url('../images/newsImages/news1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.current-news-text{
    width: 850px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.408);
    padding: 20px;
    color: white;
}
.current-news-text > h1{
    font-size: 35px
}
.current-news-text > p{
    font-size: 25px
}